.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  height: 800px;
  margin: auto;
}

.traffic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  width: 60px;
  height: 160px;
  margin: auto;
  background: black;
}
.stolb {
  display: flex;
  justify-content: center;
  border: 1px solid green;
  width: 10px;
  height: 100px;
  margin: auto;
}
